{% extends "basic.html" %}
{% load static %}
{% block content %}

  


<div class="container">
 
<div class="section1">
    <div class="row">

    
    <div class="box col-md-6">
        <h1 class="heading">Always Ready To Make Your Life Better</h1>
        <p class="subheading">Every Step of the way</p>
    </div>
    <div class="box col-md-6 text-center">
        <img src="{% static 'img/img8.png' %}" alt="">
    </div>
    
</div>
</div>

<div class="section2">
    <h4 style="color:#D73CBE;">You Can Count On Us</h4>
    <div class="row">

        <div class=" col-md-6 text-center">
            <img src="{% static 'img/img1.png' %}" alt="">
        </div>
    <div class="col-md-6">
        <div class="p-4 mt-2">
        <p style="font-size:25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro at atque ea sint est. Nihil cumque hic, sequi non iusto, omnis itaque quidem officiis unde aliquid est vel saepe amet.</p>
        </div>
    </div>
    
    
</div>
<hr style="color:white;">
<div class="section3 ">
    <h2 style="font-size:35px;">Services We Provide</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi impedit autem, veritatis sit id omnis uptate quibusdam molestiae inventore, facilis minima quod aliquid dolorem doloribus ullam. Hic molestias impedit facere ullam asperiores odio error natus minus in quasi soluta ex quidem beatae iure rem, amet inventore obcaecati labore. Hic sunt ad totam soluta dolorem placeat autem rem, debitis perspiciatis repellat doloremque molestiae.</p>
    <div class="services">
        <div class="row ">
            <div class="col-md-4">
                <div class="s-card text-center">
                    <h2>Secure Data</h2>
                    <button class="s-btn btn mt-2">Learn More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="s-card text-center">
                    <h2>Secure Data</h2>
                    <button class="s-btn btn mt-2">Learn More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="s-card text-center">
                    <h2>Secure Data</h2>
                    <button class="s-btn btn mt-2">Learn More</button>
                </div>
            </div>
        </div>
    </div>   
    
</div>

<div class="section4">
    <div class="row">

    
    <div class="col-md-6">
        <div class="big-card">
        <h3 class="">100% Secured Data</h3>
        <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sed ipsam distinctio excepturi voluptatibus? Repudiandae magnam laborum vel cum laudantium.</p>
        <button class="b-btn btn mt-2">Learn More</button>
        </div>

        
    </div>
    <div class=" col-md-6 text-center ">
        <img src="{% static 'img/img6.png' %}" alt=""  style="width:100%;">
    </div>
    
</div>
</div>

<div class="section5">
    <div class="row">

    
    <div class="col-md-6">
        <div class="big-card">
        <h3 class="">24/7 Customer Support</h3>
        <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sed ipsam distinctio excepturi voluptatibus? Repudiandae magnam laborum vel cum laudantium.</p>
        <button class="b-btn btn mt-2">Learn More</button>
        </div>

        
    </div>
    <div class=" col-md-6 text-center">
        <img src="{% static 'img/img5.png' %}" alt="" style="width:100%;">
    </div>
    
</div>
</div>
<hr style="color:white;">
<div class="section6">
    <h2 style="font-size:35px;" class="">Some of Our Sample Projects</h2>
    <div class="row" class="mt-5">
        <div class="col-md-4 mt-2">
            <div class="p-img">
                <img src="{% static 'img/img2.jpeg' %}" alt="" style="width:100%;height:40vh;">
                
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, qui!</p>
            
        </div>
        <div class="col-md-4 mt-2">
            <div class="p-img">
                <img src="{% static 'img/im3.jpeg' %}" alt="" style="width:100%;height:40vh;">
                
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, qui!</p>
            
        </div>
        <div class="col-md-4 mt-2">
            <div class="p-img">
                <img src="{% static 'img/img2.jpeg' %}" alt="" style="width:100%;height:40vh;">
                
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, qui!</p>
            
        </div>
    </div>
</div>


</div>

<div class="section7">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h2 style="font-size:40px;width:80%;margin:auto;">
                    Companies We've Worked With
                </h2>
            </div>
            <div class="">
                <img src="{% static 'img/img1.png' %}" alt="" >
            </div>
        </div>
        <div class="col-md-6">
            <div class="w-card">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eveniet.
                </p>
                <span style="color:#D73CBE;">Hollis</span>
            </div>
            <div class="w-card">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eveniet.
                </p>
                <span style="color:#D73CBE;">Hollis</span>
            </div>
            <div class="w-card">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eveniet.
                </p>
                <span style="color:#D73CBE;">Hollis</span>
            </div>
        </div>
    </div>
</div>

{% comment %} <div class="section8">
   
            <h4>Lets Talk Business</h4>
            <h6>Phone</h6>
            <p>+923430000000</p>
            <h5>Email</h5>
            <p>admin@gmail.com</p>
            <div class="contact text-center">
                <div class="row">
                    <div class="col">Contact</div>
                    <div class="col">
                        <i class="fab fa-facebook me-2"></i>
                        <i class="fab fa-twitter me-2"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                
            </div>
       
</div> {% endcomment %}
     
</div>
  
{% endblock content %}